@media (min-width: 768px) and (max-width: 1440px)  {
    .container {
        padding: 0 30px;
    } 


/* DISPLAY: NONE */
nav, .proj-gallery-menu, .proj-arrows, .request-right-cost, .portfolio-list__list, .portfolio-gallery,
.clients-block__author img, .button_clients img {
    display: none;
}   
/* /DISPLAY: NONE */


/* DISPLAY: BLOCK */

.proj-inner, .gallery-img__left, .gallery-img__right, .gallery-img a img, .portfolio-container, .portfolio-gallery-mob {
    display: block;
}   
/* /DISPLAY: BLOCK */


/* ОБЩИЕ СТИЛИ */
  .gallery-img {
    position: relative;
}

.gallery-img__left {
    position: absolute;
    top: 43%;
    left: 15px;        
}

.gallery-img__right {
    position: absolute;
    top: 43%;
    right: 15px;        
}

.gallery-img a img {
    margin: 12px auto ; 
}  

.title {
        text-align: center;
}
img, picture {
    margin: 0 auto;
}
/* /ОБЩИЕ СТИЛИ */


    .hero-block {
        margin-top: 120px;
        padding: 0;
    }

    .hero, .hero-inner {
        height: 507px;
    }

    .proj-inner {
        padding: 51px 0 0 0;
    }



/* PROJECTS */


.proj-inner {
    padding: 0;
} 

.proj-details { 
    padding-top: 4px;
    margin: 0 auto;
}

.proj-details__item:nth-child(odd) {
    width: 48%;
    padding-top: 30px;
}

.proj-details__item:nth-child(even) {
    width: 52%;
    padding-top: 30px;
}

.proj-main {
    padding-top: 30px;
    margin-right: 0;
    max-width: 100%;
}

.proj-text {
    padding-top: 30px;
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.proj-gallery { 
    padding-top: 40px;
}

.proj-details-header {
    font-size: 14px;
    line-height: 24px;
    text-align: center;
}

.proj-details-text {
    padding-top: 11px;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
}   
/* /PROJECTS */

.form-small-container {
    grid-template-columns: 220px 290px 200px;
}

.types-blocks-block__text {
    margin: -130px 10px 0 10px;
}


.types-blocks {
    padding-bottom: 0;
}

.request-nums {
    width: 90%;    
    margin: 0 30px 0 0;
}

.request-right-form {
    padding: 0 25px;
    text-align: center;
}
.request-container {
    padding-bottom: 70px;
}
.portfolio-gallery-mob {
    padding-top: 30px;
}
.portfolio, .portfolio-inner {
    height: 700px;
}
.button_types {
    margin-left: 0;
}
.clients-block {
    gap: 10px;
}
.button_clients {
    width: 230px;
}
.clients-block__author-header {
     margin-left: 0; 
     margin-right: 0; 
}
.form-container {
    padding-top:30px;
    padding-bottom:30px;
}
.main-form__inner {
    width: 47%;
}
.contacts-inner {
    margin-top: 0;
    height: 683px;
}
.contacts {
    height: 683px;
    padding-top: 0;
    margin-top: 0;
}
.contacts_subtitle {
    padding-top: 50px;
}

}